//?  ****************** DASHBOARD *************************************
$nav_bg:#172774;
$nav_co: #FFFFFF;

@mixin flex() {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.dashboard{
    padding: 0rem 4.2vw;
    height: 100vh;
    width: 100%;
    h1{
        color: $nav_bg;
        font-size: 1.5rem;
        height: 9vh;
        padding: 3vh 0vh;

    }
    .dash-top{
        background-color: #FFFFFF;
    }
    background-color: #F8F9FB;
    .cards{
        .card-box{
            padding: 20px;
            
            a{
                text-decoration: none;
                color: $nav_bg;
                font-size: 0.9em;
            }
            .tcol{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 0.9rem;
                line-height: 2.4vh;
                color: #172774;
            }
            
        }
        .boxb{
            @include flex();
            justify-content: space-between;
            .bg{
                @include flex();
                // background-color: rgba(13, 131, 60, 0.5);
                width: 45px;
                height: 45px;
                border-radius: 50%;
                align-self: center;
                justify-content: center;
                color: white;
            }
            .total{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 0.9rem;
                line-height: 2.4vh;
                color: #7D85AC;
            }
        
        }
        .boxa{
            @include flex();
            justify-content: space-between
        }
    }

// ******************* next row ****************
    .dash-last{
        @include flex();
        align-items: flex-start;
        justify-content: center;
        margin-top: 9vh;
        gap: 1.5rem;
        padding: 0rem 2.125rem;
        .box{
            background: #FFFFFF;
            border: 1px solid #7D85AC;
            border-radius: 10px;
            height: 67vh;
            // height: max-content;
        }
        .a{
            // border: 2px solid red;
            width: 28.625rem;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2.9vh;
            color: #303972;

            .row1{
                // border: 3px solid red;
                width: 100%;
                @include flex();
                justify-content: space-between;
                margin-top: 3.2vh;

            }
            .row2{
                // border: 2px solid green;
                width: 100%;
                @include flex();
                justify-content: start;
                gap:0.833vw;
                margin-top: 5.2vh;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 0.9rem;
                line-height: 1.7vh;
                color: #A098AE;
                .boxa{
                    :first-child{
                        margin-right: 0.7vw;
                    }
                    margin-right: 9vw;
                }
                .boxb{
                    :first-child{
                        margin-right: 0.7vw;
                    }

                }
            }
            // .last{
                .row3,.row4{
                    // width: 26.56rem;
                    
                }
                .row3{
                    margin-top: 3vh;
                    height: 20vh;
                    border: 1px solid #7D85AC;
                    border-radius: 10px;
                    .total{
                            font-family: 'Lato';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 1.357rem;
                            line-height: 2.6vh;
                            margin-top: 2vh;
                            margin-left: 1.67vw;
                            color: #0D833C;
                        }
                         .last-month{
                                margin-top: 1.7vh;
                                margin-left: 1.67vw;
                                @include flex();
                                justify-content: space-between;
                                margin-right: 4.75vw;
                                .text{
                                    font-weight: 400;
                                    font-size: 1.25rem;
                                    line-height: 2.2vh;
                                    color: #7D85AC;
                                    margin-right: 0.1rem;
        
                                    }
                                .price{
                                    font-weight: 400;
                                    font-size: 1.25rem;
                                    line-height: 2.2vh;
                                    margin-right: 4.3vw;
                                }
                                .icon{
                                    color: #0D833C;
                                    svg{
                                        width: 34.17px;
                                        height: 34.17px;
                                    }
                                }
                            }
                            .depo{
                                margin-left: 1.67vw;
                                margin-bottom: 3vh;
                                margin-top: 1.6vh;
                                @include flex();
                                justify-content: flex-start;
                                gap: 5px;
                                .text{
                                    font-size: 1rem;

                                }
                                .icon{
                                    background-color: $nav_bg;
                                    width: 8.75px;
                                    height: 8.75px;
                                    border-radius: 50%;
                                    color: $nav_co;
                                    @include flex();
                                    justify-content: center;
                                }
                            }
                }
                .row4{
                    border: 2px solid purple;
                    margin-top: 3vh;
                    height: 20vh;
                    margin-bottom: 4.4vh;

                    margin-top: 3vh;
                    height: 20vh;
                    border: 1px solid #7D85AC;
                    border-radius: 10px;
                    .total{
                            font-family: 'Lato';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 1.357rem;
                            line-height: 2.6vh;
                            margin-top: 2vh;
                            margin-left: 1.67vw;
                            color: #D9261C;
                        }
                         .last-month{
                                margin-top: 1.7vh;
                                margin-left: 1.67vw;
                                @include flex();
                                justify-content: space-between;
                                margin-right: 4.75vw;
                                .text{
                                    font-weight: 400;
                                    font-size: 1.25rem;
                                    line-height: 2.2vh;
                                    color: #7D85AC;
                                    margin-right: 0.1rem;
        
                                    }
                                .price{
                                    font-weight: 400;
                                    font-size: 1.25rem;
                                    line-height: 2.2vh;
                                    margin-right: 4.3vw;
                                }
                                .icon{
                                    color: #D9261C;
                                    svg{
                                        width: 34.17px;
                                        height: 34.17px;
                                    }
                                }
                            }
                            .depo{
                                margin-left: 1.67vw;
                                margin-bottom: 3vh;
                                margin-top: 1.6vh;
                                @include flex();
                                justify-content: flex-start;
                                gap: 5px;
                                .text{
                                    font-size: 1rem;

                                }
                                .icon{
                                    background-color: #D9261C;
                                    width: 8.75px;
                                    height: 8.75px;
                                    border-radius: 50%;
                                    color: $nav_co;
                                    @include flex();
                                    justify-content: center;
                                }
                            }
                }
            // }
        }
        .b{
            width:30.5rem;
            padding: 0rem 2vw;
            // @include flex();
            // justify-content: center;
            // flex-direction: column;
            .top{
                @include flex();
                justify-content: space-between;
                margin-top: 3.2vh;
                margin-bottom: 6vh;
                .text{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.5rem;
                    line-height: 2.9vh;
                    color: #303972;
                }
                .row2{
                    @include flex();
                    justify-content: space-between;
                    // gap: 1rem;
                    display: flex;
                    gap: 0.5vw;
                    .boxa{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 0.875rem;
                        line-height: 2.1vh;
                        color: #A098AE;

                       :first-child{
                        margin-right: 0.67vw;
                       }
                    }
                    .boxb{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 0.875rem;
                        line-height: 2.1vh;
                        color: #A098AE;
                        :first-child{
                         margin-right: 0.67vw;
                        }
                      
                    }
                }
            }
            .chart{
                // width: 100%;
                // height: 52vh;
                // margin: auto;
                // padding: 2rem;
                // margin-right: 2.19rem;
                // margin-left: 1.89rem;
                display: flex;
                align-content: center;
                justify-content: center;
                margin-bottom: 3.2vh;
                // border: 1px solid red;
                // overflow: hidden;
                .livechart{
                    // border: 1px solid red;
                    width: 28.625rem;
                    height: 46vh;
                    background-image: url('../dashboard/chart.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }
            }
        }
    }
}
            .dash-select{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #303972;
                .css-1dimb5e-singleValue{
                    color: #303972;
                }
                .css-1hb7zxy-IndicatorsContainer{
                    .css-1u9des2-indicatorSeparator{
                        background-color: inherit;
                    }
                }
                div{
                    div{
                        outline: none;
                        border: none;

                    }

                }
            }